name: Snyk Container

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '29 23 * * 4'

permissions:
  contents: read
  security-events: write  # Necesario para subir resultados SARIF

jobs:
  snyk:
    permissions:
      contents: read
      security-events: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build a Docker image
        run: docker build -t your/image-to-test .

      - name: Run Snyk to check Docker image for vulnerabilities
        continue-on-error: true
        uses: snyk/actions/docker@v14818c4695ecc4045f33c9cee9e795a788711ca4
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image: your/image-to-test
          args: --file=Dockerfile --severity-threshold=high --sarif-file-output=snyk.sarif

      - name: Verify SARIF file exists
        run: ls -al snyk.sarif

      - name: Replace invalid security-severity values
        run: "sed -i 's/\"security-severity\": null/\"security-severity\": 0/g' snyk.sarif"

      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: snyk.sarif
